language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_API_LEVEL=28
    - ANDROID_BUILD_TOOLS_VERSION=28.0.3

android:
  components:
    - tools
    - platform-tools	
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION	
    - android-$ANDROID_API_LEVEL	
    - android-25
    - extra-google-google_play_services	
    - extra-google-m2repository	
    - extra-android-m2repository	
    - sys-img-armeabi-v7a-google_apis-25
    
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    
before_script:
  - chmod +x gradlew
  - sed "/githubusercontent/d" audioview/build.gradle > audioview/build-mod.gradle
  - mv audioview/build-mod.gradle audioview/build.gradle
  - echo no | android create avd --force -n test -t android-25 --abi armeabi-v7a --tag google_apis -c 100M
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &