<?xml version="1.0" encoding="utf-8"?>
<!--
  ~           Copyright © 2015, 2018 Stanislav Petriakov
  ~  Distributed under the Boost Software License, Version 1.0.
  ~     (See accompanying file LICENSE_1_0.txt or copy at
  ~           http://www.boost.org/LICENSE_1_0.txt)
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keenfin.audioview">

    <application>

        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
