<!--
  ~           Copyright © 2015 Stanislav Petriakov
  ~  Distributed under the Boost Software License, Version 1.0.
  ~     (See accompanying file LICENSE_1_0.txt or copy at
  ~           http://www.boost.org/LICENSE_1_0.txt)
  -->

<manifest package="com.keenfin.audioview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name">

    </application>

</manifest>
